<nav class="p-5 flex justify-between items-center space-x-24 mx-8">
    <div class="flex-none">
        <p class="text-xl font-bold">THE GOOD CORNER</p>
    </div>
    <div class="flex-1 hidden md:block">
        <input type="search" placeholder="🔎    Chercher une image..."
        class="w-full px-4 py-2 bg-gray-100 rounded-2xl text-sm transform transition duration-300 outline-none focus:bg-white focus:ring-2 focus:ring-gray-300">
    </div>
    <div class="">
        <div class="flex justify-center space-x-32">
            <div><a class="text-gray-700" href="">Lien</a></div>
            <div><a class="text-gray-700" href="">Lien</a></div>
            <div><a class="text-gray-700" href="">Lien</a></div>
        </div>
    </div>
</nav>