<nav>
    <div class="p-5 flex justify-between items-center space-x-24 mx-8">
        <div class="flex-none">
            <a routerLink="/home" routerLinkActive="underline" class="text-xl font-bold">THE GOOD CORNER</a>
        </div>
        <div class="flex-1 hidden md:block">
            <input type="search" placeholder="🔎    Chercher une image..."
                class="w-full px-4 py-2 bg-gray-100 rounded-2xl text-sm transform transition duration-300 outline-none focus:bg-white focus:ring-2 focus:ring-gray-300">
        </div>
        <div class="">
            <div class="flex justify-center space-x-32">
                <div><a class="text-gray-700" routerLink="/images" routerLinkActive="underline">Images</a></div>
                <div><a class="text-gray-700" href="">Lien A</a></div>
                <div><a class="text-gray-700" href="">Lien B</a></div>
            </div>
        </div>
    </div>
    <!-- <div class="flex justify-start items-center px-8 space-x-8 text-sm text-gray-700">
        <div class="pb-4 border-b-2 border-b-transparent hover:border-b-black">
            <p>Photos du jour</p>
        </div>
        <div class="pb-4 border-b-2 border-b-transparent hover:border-b-black">
            <p>Catégorie A</p>
        </div>
        <div class="pb-4 border-b-2 border-b-transparent hover:border-b-black">
            <p>Catégorie B</p>
        </div>
    </div> -->
</nav>